<div id="page-title">
    <h1 class="page-header text-overflow">
        <span ng-show="scope.data.name">Scope: {{scope.data.name}}</span>
        <span ng-show="!scope.data.name && scope.data.scopename">{{scope.data.scopename}}</span>

        <form class="form-inline pull-right" style="margin-right: 20px;" name="deletescopeForm" ng-submit="deleteScope(scope)">
            <tt-prompt id="m" action="Delete">Are you sure you want to delete scope <strong>{{scope.data.name}}</strong>?</tt-prompt>
            <button type="submit" class="btn btn-primary" tt-confirm-click="#m">Delete scope</button>
        </form>
    </h1>
</div>

<div ng-show="scope">
    <div class="panel-body">
        <div class="tab-base">
            <ul class="nav nav-tabs">
                <li class="{{!tab ?'active':''}}" ng-show="scope.data.properties">
                    <a ng-click="tab=0" href="#/scopes/edit/{{scope.data.subject}}" role="tab" data-toggle="tab">Properties</a>
                </li>
                <li class="{{tab==1?'active':''}}" ng-show="scope.data.claims">
                    <a ng-click="tab=1" href="#/scopes/edit/{{scope.data.subject}}" role="tab" data-toggle="tab">Claims</a>
                </li>
                <li class="{{tab==2?'active':''}}" ng-show="scope.data.secrets">
                    <a ng-click="tab=2" href="#/scopes/edit/{{scope.data.subject}}" role="tab" data-toggle="tab">Secrets</a>
                </li>
            </ul>
            <div class="tab-content">
                <id-adm-message message="feedback"></id-adm-message>
                <div class="tab-pane {{!tab ?'active':''}}">
                    <div class="line" ng-repeat="property in scope.data.properties">
                        <div class="row line">
                            <tt-property-editor property="property" set-property="setProperty"></tt-property-editor>
                        </div>
                    </div>
                </div>
                <div class="tab-pane {{tab==1?'active':''}}" ng-show="scope.data.claims">
                    <div class="row section">
                        <div class="col-sm-12">
                            <form name="addClaimForm" class="form-inline" ng-submit="addScopeClaim(scope.data.claims, claim)">
                                <div class="form-group">
                                    <label for="type" class="column">Add Claim</label>
                                    <input type="text" class="form-control" id="name" placeholder="Name" required autofocus ng-model="claim.name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="description" placeholder="Description" required ng-model="claim.description">
                                </div>
                                <button type="submit" class="btn btn-primary" ng-disabled="addClaimForm.$invalid">Add</button>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div ng-hide="scope.data.claims.data.length" class="col-sm-8">
                            <div class="alert alert-info">
                                <p>No Claims For scope</p>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped" ng-show="scope.data.claims.data.length">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>AlwaysIncludeInIdToken</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="claim in scope.data.claims.data">
                                    <td>
                                        <button class="btn btn-warning" ng-click="removeScopeClaim(claim)">delete</button>
                                    </td>
                                    <td>{{claim.data.name}}</td>
                                    <td>{{claim.data.description}}</td>
                                    <td>
                                        <label class="form-checkbox form-normal form-primary form-text" ng-class="claim.data.alwaysIncludeInIdToken ? 'active form-checkbox form-normal form-primary form-text' : 'form-checkbox form-normal form-primary form-text'">
                                            <input type="checkbox" class="user-edit-regular" name="AlwaysIncludeInIdToken" ng-model="claim.data.alwaysIncludeInIdToken" ng-change="updateScopeClaim(claim)">
                                        </label>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane {{tab==2?'active':''}}" ng-show="scope.data.secrets">
                    <div class="row section">
                        <div class="col-sm-12">
                            <form name="addSecretForm" class="form-inline" ng-submit="addScopeSecret(scope.data.secrets, secret)">
                                <div class="form-group">
                                    <label for="type" class="column">Choose hash &nbsp;</label>
                                    <span data-ng-repeat="choice in availableHashes.choices">
                                        <label class="form-radio form-normal form-primary form-text form-checkbox" ng-class="availableHashes.chosenHash == choice.id ? 'active form-radio form-normal form-primary form-text' : 'form-radio form-normal form-primary form-text'">
                                            <input type="radio" name="hashChoices" class="user-edit-regular" value="{{choice.id}}" ng-model="availableHashes.chosenHash" />
                                            {{choice.text}}
                                        </label>
                                    </span>

                                </div>
                                <br /><br />
                                <div class="form-group">
                                    <label for="type" class="column">Add Secret</label>
                                    <input type="text" class="form-control" id="type" placeholder="Type" required autofocus ng-model="secret.type">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="value" placeholder="Value" required ng-model="secret.value">
                                </div>
                                <button type="submit" class="btn btn-primary" ng-disabled="addSecretForm.$invalid">Add</button>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div ng-hide="scope.data.secrets.data.length" class="col-sm-8">
                            <div class="alert alert-info">
                                <p>No secrets found for this scope</p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="scope.data.secrets.data.length" class="detailList">
                        <div class="row dlHeader">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-2">Type</div>
                            <div class="col-xs-2">Value</div>
                            <div class="col-xs-3">Description</div>
                            <div class="col-xs-3">Expiration</div>

                        </div>
                        <div class="row dlContent" ng-repeat="secret in scope.data.secrets.data">
                            <div class="col-xs-2">
                                <button class="btn btn-primary" ng-click="updateScopeSecret(secret)">Update</button>
                                <button class="btn btn-warning" ng-click="removeScopeSecret(secret)">Delete</button>
                            </div>
                            <div class="col-xs-2" title="{{secret.data.type}}">{{secret.data.type}}</div>
                            <div class="col-xs-2" title="{{secret.data.value}}">{{secret.data.value}}</div>
                            <div class="col-xs-3"><input type="text" placeholder="Description" class="form-control" value="{{secret.data.description}}" ng-model="secret.data.description"/>
                            </div>
                            <div class="col-xs-3 enableOverflow">
                                <p class="input-group">
                                    <input type="text" data-dateId="{{secret.data.id}}" class="form-control" ng-change="dateSelected(secret)" uib-datepicker-popup="{{calendar.dateFormat}}" ng-model="secret.data.expiration"  is-open="calendar.isopen[$index]" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="calendar.open($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>